Jinja2==2.7.1
MarkupSafe==0.18
Pweave==0.21.2
Pygments==1.6
Sphinx==1.1.3
argparse==1.2.1
docutils==0.11
ecdsa==0.10
matplotlib==1.3.1
mock==1.0.1
nose==1.3.0
numpy==1.8.0
paramiko==1.12.0
pudb==2013.3.6
pycrypto==2.6.1
pyparsing==2.0.1
pyserial==2.7
python-dateutil==2.2
six==1.4.1
sphinxcontrib-plantuml==0.3
tornado==3.1.1
urwid==1.1.1
wsgiref==0.1.2
